<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>更新时的一个问题</title>
    <!-- 以script方式引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h2>人员列表</h2>
      <input type="text" placeholder="请输入姓名" v-model="keyWord" />
      <button @click="updateMei">马冬梅的父亲是？</button>
      <ul>
        <li v-for="(item, index) in person" :key="index">
          {{item.name}} - {{item.age}} - {{item.sex}}
        </li>
      </ul>
    </div>
  </body>
  <script type="text/javascript">
    const vm = new Vue({
      el: "#root",
      data: {
        keyWord: "",
        sortType: 0, // 零代表原顺序 1降序 2升序
        person: [
          { id: "001", name: "马冬梅", age: 18, sex: "女" },
          { id: "002", name: "周冬雨", age: 21, sex: "女" },
          { id: "003", name: "周杰伦", age: 19, sex: "男" },
          { id: "003", name: "温兆伦", age: 17, sex: "男" },
        ],
      },
      methods: {
        updateMei() {
          /*           this.person[0].name = "马保国本国"; // 奏效
          this.person[0].age = 51; // 奏效
          this.person[0].sex = "男"; // 奏效 */
          this.person[0] = {
            id: "001",
            name: "马保国本国",
            age: 51,
            sex: "男",
          };
        },
      },
    });
    console.log(vm);
  </script>
</html>
